<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}School Management{% endblock %}</title>

    <!-- تحميل مكتبة static -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- استخدام الوسم static لجلب الملفات الثابتة -->
    
</head>
<body>

    <!-- قائمة التنقل المشتركة -->
    <nav>
        <ul>
            <li><a href="{% url 'student_list' %}">Students</a></li>
            <li><a href="{% url 'teacher_list' %}">Teachers</a></li>
        </ul>
    </nav>

    <!-- محتوى الصفحة المحدد -->
    <div>
        {% block content %}
        <!-- يتم استبدال هذا القسم في الصفحات التي ترث القالب -->
         
        {% endblock %}
    </div>

</body>
</html>
