<!-- teachers/templates/teachers/teacher_list.html -->
{% extends 'base.html' %}

{% block title %}Teachers List{% endblock %}

{% block content %}
<h1>Teachers List</h1>
<ul>
    {% for teacher in teachers %}
        <li>{{ teacher.first_name }} {{ teacher.last_name }} - 
            <a href="{% url 'teacher_edit' teacher.id %}">Edit</a> | 
            <a href="{% url 'teacher_delete' teacher.id %}">Delete</a>
        </li>
    {% empty %}
        <li>No teachers found</li>
    {% endfor %}
</ul>
{% endblock %}
