{% extends 'base.html' %}

{% block title %}Edit Teacher{% endblock %}

{% block content %}
<h1>Edit Teacher</h1>
<form method="POST">
    {% csrf_token %}
    <label>First name:</label>
    <input type="text" name="first_name" value="{{ teacher.first_name }}"><br>
    <label>Last name:</label>
    <input type="text" name="last_name" value="{{ teacher.last_name }}"><br>
    <label>Email:</label>
    <input type="email" name="email" value="{{ teacher.email }}"><br>
    <button type="submit">Save</button>
</form>
{% endblock %}
