<!-- doctors_list.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Doctors List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Specialization</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.firstD_name }}</td>
                <td>{{ doctor.lastD_name }}</td>
                <td>{{ doctor.specialization }}</td>
                <td>
                    <a href="{% url 'Doctor:doctor_show_detail' doctor.id %}" class="btn btn-info">View</a>
                    <a href="{% url 'Doctor:doctor_edit' doctor.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'Doctor:doctor_delete' doctor.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
