{% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none !important
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <dl>
                <dt>اسم المتبرع</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ donation.donor_name }}</dd>
                <dt>جنس المتبرع</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ donation.donor_gender }}</dd>
                <dt>رقم هاتف المتبرع</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ donation.donor_contact }}</dd>
                <dt>الايمل</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ donation.donor_email }}</dd>
                <dt>عنوان المتبرع</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ donation.donor_address }}</dd>
            </dl>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <dl>
                <dt>فصيلة الدم</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ donation.blood_group }}</dd>
                <dt>وقت نقل الدم</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ donation.transfusion_date|date:"M d, Y" }}</dd>
                <dt>كمية الدم المنقول</dt>
                <dd class="ps-4 fw-bolder text-primary">{{ donation.donation_volume|floatformat:2|intcomma }} ml.</dd>
            </dl>
        </div>
    </div>
    <div class="text-end mt-3">
        <button class="btn btn-light bg-gradient btn-sm rounded-0 mb-0" type="button" data-bs-dismiss="modal"><i class="material-icons"> </i>اغلاق</button>
    </div>
</div>