name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: List files in the workspace
        run: ls -la

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build Docker Image
        run: |
          IMAGE_TAG=$(git rev-parse --short HEAD)
          # تأكد من وجود Dockerfile
          if [ -f "Dockerfile" ]; then
            docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/my-image:${IMAGE_TAG} .
          else
            echo "❌ Dockerfile not found in current directory!"
            exit 1
          fi

      - name: Push Docker Image
        run: |
          IMAGE_TAG=$(git rev-parse --short HEAD)
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/my-image:${IMAGE_TAG}

      - name: Log out from Docker Hub
        run: docker logout
